<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="TimeOut" value="30" />
    <add key="NavegadorDefault" value="firefox" />
    <add key="ReportName" value="Relatório - Testes Google" />

    <add key="Browser" value="Chrome" />
    <add key="Local" value="true" />
    <add key="Hublink" value="http://192.168.0.26:8888/wd/hub" />
    <add key="PatchOperaExe" value="C:\Users\ramon.oliveira\AppData\Local\Programs\Opera\launcher.exe" />

    <add key="URL" value="http://localhost/mantis/login_password_page.php" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="ExcelDataReader" publicKeyToken="93517dbe6a4012fa" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>